{{#each erro}}
<div class="alert alert-danger">{{texto}}</div>
    {{else}}
{{/each}}
<h2>Nova categoria: </h2>
<div class="card">
    <div class="card-body">
        <form action="/admin/categorias/nova" method="post">
            <label for="nome">Nome: </label>
                <input class="form-control" type="text" name="nome" id="nome" placeholder="Digite da categoria">
            <label for="slug">Slug: </label>
                <input class="form-control" type="text" name="slug" id="slug" placeholder="Digite da categoria">
            <button type="submit" class="btn btn-success" style="margin-top: 2%">Criar categoria</button>
</form>
    </div>
</div>