<div class="container login-container ">
 <div class="col-md-6 login-form-2">
                <h3>Login for Form 2</h3>
                <form action="/usuarios/login" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Seu E-mail *" name="email" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Sua senha *" name="senha" />
                    </div>
                    <div class="form-group" >
                        <button type="submit" class="btnSubmit" value="Login">Entrar</button>                       
                    </div>
                    <div class="form-group">

                        <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
                    </div>
                </form>
          </div>
    </div>
</div>